*.*~
**/*.*~
*.md
*.MD
.DS_Store
tsconfig.json
samples
__tests__
docs
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
node_modules
ios/Pods
ios/Podfile*
xcuserdata*
**/*/xcuserdata*
src/**/*.ts
src/**/*.tsx
!android/src/
!android/build.gradle
**/*.iml
**/*.properties
.project
proguard-rules.pro
.gradle
.idea
.settings
.vscode
package-lock.json
