name: Build API Example
run-name: ${{ github.actor }} triggered this job
on:
  workflow_dispatch:
jobs:
  build-android:
    runs-on: ubuntu-latest
    env:
      NITRO_API_KEY: ${{ secrets.NITRO_API_KEY1 }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Modify APP ID
        run: |
          sed "s/\"appId\": \(.*\),/\"appId\": \"${{ secrets.APP_ID }}\",/g" agora.config.json > tmp
          mv tmp agora.config.json
        working-directory: example/src/config

      - uses: nitro-build/github-action-nitro-android@v1
        id: nitro
        with:
          debug: true
          root-directory: example
          cache-env-var-lookup-keys: ORG_GRADLE_PROJECT_*

      - uses: actions/upload-artifact@v3
        with:
          name: AgoraRtcExample
          path: |
            ${{ steps.nitro.outputs.nitro-output-dir }}/*apk

  build-ios:
    runs-on: macos-latest
    env:
      NITRO_API_KEY: ${{ secrets.NITRO_API_KEY1 }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Modify APP ID
        run: |
          sed "s/\"appId\": \(.*\),/\"appId\": \"${{ secrets.APP_ID }}\",/g" agora.config.json > tmp
          mv tmp agora.config.json
        working-directory: example/src/config

      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/${{ secrets.BUILD_PROVISION_PROFILE_UUID }}.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - uses: AgoraIO-Extensions/actions/.github/actions/github-action-nitro-ios@main
        id: nitro
        with:
          debug: true
          root-directory: example
          export-method: development
          cache-env-var-lookup-keys: RCT_NEW_ARCH_ENABLED
          provisioning-profile-specifier: ${{ secrets.BUILD_PROVISION_PROFILE_NAME }}

      - uses: actions/upload-artifact@v3
        with:
          name: AgoraRtcExample
          path: |
            ${{ steps.nitro.outputs.nitro-output-dir }}/*.ipa

      - uses: actions/upload-artifact@v3
        with:
          name: AgoraRtcExampleSymbol
          path: |
            ${{ steps.nitro.outputs.nitro-output-dir }}/*.dSYM.zip

  notification:
    runs-on: ubuntu-latest
    needs: [ build-android, build-ios ]
    steps:
      - run: |
          curl -X POST "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=${{ secrets.WECHAT_KEY }}" -d '{"msgtype":"text","text":{"content":"ReactNative:\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}}'
