name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

  test:
    runs-on: macos-latest
    env:
      NITRO_API_KEY: ${{ secrets.NITRO_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Detox dependencies
        shell: bash
        run: |
          yarn global add detox-cli react-native-cli

      - uses: nitro-build/github-action-nitro-android@v1
        id: nitro
        with:
          root-directory: example
          detox-configuration: android.emu.release
          pre-install-command: |
            yarn install --cwd .. --frozen-lockfile
            yarn --cwd .. patch-package

      - name: Run e2e tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          arch: x86_64
          avd-name: emulator
          working-directory: example
          script: detox test --configuration android.emu.release --cleanup --headless

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build package
        run: yarn prepack
