name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*

jobs:
  lint:
    strategy:
      matrix:
        platform: [ubuntu, windows]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

  test:
    strategy:
      matrix:
        platform: [ubuntu, windows]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

  build-library:
    strategy:
      matrix:
        platform: [ubuntu, windows]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build package
        run: yarn prepare

  test-android:
    strategy:
      matrix:
        newArch: [true, false]
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_newArchEnabled: ${{ matrix.newArch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Finalize Android SDK
        run: |
          /bin/bash -c "yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses > /dev/null"

      - name: Install Detox dependencies
        shell: bash
        run: |
          npm i -g detox-cli react-native-cli

      - name: Modify APP ID
        run: |
          sed "s/localAppId = '\(.*\)'/localAppId = '${{ secrets.APP_ID }}'/g" agora.config.ts > tmp
          mv tmp agora.config.ts
        working-directory: examples/expo/src/config

      - name: Build example for Android
        run: |
          yarn example detox:android

      - name: Clean Useless cache
        run: |
          rm -rf ~/.gradle/caches || true
          rm -rf ~/.gradle/wrapper || true
          sudo apt-get clean
          npm cache clean --force
          rm -rf example/ios
          yarn cache clean
          df -h

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Run e2e tests
        # https://github.com/wix/Detox/issues/3720#issuecomment-1347855162
        if: ${{ matrix.newArch == false }}
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          arch: x86_64
          avd-name: emulator
          working-directory: examples/expo
          script: detox test -c android.emu.release

  test-ios:
    strategy:
      matrix:
        newArch: [1, 0]
    runs-on: macos-15
    env:
      RCT_NEW_ARCH_ENABLED: ${{ matrix.newArch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install cocoapods
        run: |
          yarn pod-install examples/expo/ios

      - name: Switch Xcode
        run: |
          #https://github.com/actions/runner-images/issues/12758
          sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Install Detox dependencies
        shell: bash
        run: |
          npm i -g detox-cli react-native-cli
          brew tap wix/brew
          brew install applesimutils

      - name: Modify APP ID
        run: |
          sed "s/localAppId = '\(.*\)'/localAppId = '${{ secrets.APP_ID }}'/g" agora.config.ts > tmp
          mv tmp agora.config.ts
        working-directory: examples/expo/src/config

      - name: Build example for iOS
        run: |
          yarn example detox:ios

      - uses: futureware-tech/simulator-action@v4
        with:
          model: 'iPhone 15'

      - name: Run e2e tests
        # https://github.com/wix/Detox/issues/3720#issuecomment-1347855162
        if: ${{ matrix.newArch == 0 }}
        working-directory: examples/expo
        run: |
          detox clean-framework-cache
          detox build-framework-cache
          detox test -c ios.sim.release
