name: Generate comments
run-name: ${{ github.actor }} triggered this job
on:
  workflow_dispatch:

jobs:
  generate-comments:
    runs-on: ubuntu-latest
    steps:
      - name: Generate comments
        uses: ./.github/actions/doc
        with:
          github-token: ${{ secrets.GH_TOKEN }}
