name: Generate comments

on:
  workflow_dispatch:

jobs:
  generate-comments:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Generate comments
        uses: ./.github/actions/doc
        with:
          github-token: ${{ secrets.GH_TOKEN }}
