name: Publish to NPM

on:
  workflow_dispatch:
    inputs:
      increment:
        description: 'Increment "major", "minor", "patch", or "pre*" version; or specify version [default: "patch"]'
        required: true
        default: 'patch'
        type: string
      dry-run:
        description: 'Do not touch or write anything, but show the commands'
        default: true
        type: boolean

jobs:
  release-it:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Dry Run Release
        if: ${{ inputs.dry-run }}
        run: |
          yarn release ${{ inputs.increment }} -d --ci

      - name: Release
        if: ${{ !inputs.dry-run }}
        run: |
          git config --global user.email "${{ secrets.GIT_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USERNAME }}"
          yarn release ${{ inputs.increment }} --ci --npm.allowSameVersion
