name: Sync to shengwang

on:
  workflow_dispatch:

jobs:
  move-to-shengwang:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to shengwang
        uses: AgoraIO-Extensions/actions/.github/actions/shengwang-sync@sync
        with:
          target-repo: 'react-native-shengwang'
          source-repo: 'react-native-agora'
          github-token: ${{ secrets.GH_TOKEN }}
          target-branch: ${{ github.ref_name }}
          github-email: ${{ secrets.GIT_EMAIL }}
          github-private-key: ${{ secrets.GH_PRIVATE_KEY }}
          github-username: ${{ secrets.GIT_USERNAME }}
          pre-command: |
            sh scripts/publishCN/rewrite.sh
          create-pr: true
