name: Generate codes

on:
  workflow_dispatch:
    inputs:
      terra-ref:
        description: The terra repo ref
        required: true
        default: "main"

jobs:
  generate-codes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Generate codes
        id: terra
        uses: AgoraIO-Extensions/actions/.github/actions/terra@main
        env:
          LLVM_DOWNLOAD_URL: |
            https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/clang+llvm-15.0.6-x86_64-linux-gnu-ubuntu-18.04.tar.xz
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          terra-ref: ${{ inputs.terra-ref }}
          config: ci/config/terra_config.yaml
          output-dir: src
          export-file-path: src/index.ts

      - name: Format codes
        run: |
          rm -rf terra
          yarn lint --fix

      - name: Generate ts interface
        run: |
          yarn build:ts-interface

      - name: Generate comments
        uses: ./.github/actions/doc
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          target-path: ${{ github.workspace }}

      - name: Create pull request
        uses: AgoraIO-Extensions/actions/.github/actions/pr@main
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          target-repo: ${{ github.workspace }}
          target-branch: ${{ github.ref_name }}
          target-branch-name-surffix: terra-update
          pull-request-title: |
            [AUTO] Generate codes by terra
          pull-request-body: |
            Terra configuration:

            ${{ steps.terra.outputs.configuration }}
          add-paths: src
