name: Generate code
run-name: ${{ github.actor }} triggered this job
on:
  workflow_dispatch:

jobs:
  update-doc:
    runs-on: macos-latest
    steps:
      - uses: AgoraIO-Extensions/actions/.github/actions/terra@main
        with:
          target_repo: ${{ github.repository }}
          target_branch: ${{ github.ref_name }}
          config: ci/config/terra_config.yaml
          output-dir: src/
          github-token: ${{ secrets.GH_TOKEN }}
